.env

apps/legacy/ArtifactsMMO/node_modules
apps/legacy/ArtifactsMMO/.env

apps/orchestrator/dist
apps/orchestrator/node_modules

apps/worker/node_modules
apps/worker/dist

apps/python/.venv
apps/python/__pycache__
apps/python/src/__pycache__

.idea
.idea/workspace.xml
